
<h1>New post</h1>

<div class="main-container-new">
    <div id="card" > 

<%= form_with(model: @post, local: true) do |form| %>

  <div class="field">
    <!-- <%= form.label :title, :for => "textarea_field" %> -->
    <%= form.text_field :title, :class => "nes-textarea", placeholder: "Title..."  %>
  </div>

  
  <div class="field">
   
    <%= form.text_area :body, :class => "nes-textarea", placeholder: "Text..."  %>
  </div>

  
  <div class="actions" >
    <%= form.submit :Submit, class: 'nes-btn is-primary'%>
  </div>

<% end %>

        <a id="back-button" class="nes-btn" href="/posts">Back</a>
    </div>
</div>



